[submodule "Azure_Kinect_ROS_Driver"]
	path = Azure_Kinect_ROS_Driver
	url = https://github.com/tum-i6/Azure_Kinect_ROS_Driver.git
	branch = fix_unordered_point_cloud
[submodule "robotiq"]
	path = robotiq
	url = https://github.com/lkhromykh/robotiq.git
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
	branch = ros1-legacy
[submodule "easy_handeye"]
	path = easy_handeye
	url = https://github.com/IFL-CAMP/easy_handeye.git
