<?xml version="1.0"?>
<launch>
  <arg name="use_kinect_camera" default="false" doc="switch between Intel RealSense and Azure Kinect"/>

  <!-- UR5e -->
  <include file="$(find ur_robot_driver)/launch/ur5e_bringup.launch">
    <arg name="robot_ip" value="192.168.1.179"/>
    <arg name="reverse_ip" value="192.168.1.136"/>
    <arg name="kinematics_config" value="$(find teleop)/etc/ur5e_calibration.yaml"/>
    <arg name="ur_hardware_interface_node_required" value="true"/>
    <arg name="headless_mode" value="true"/>
  </include>

  <!-- Azure Kinect consider swapping to kinect_rgbd.launch -->
  <group if="$(arg use_kinect_camera)">
    <include file="$(find azure_kinect_ros_driver)/launch/kinect_rgbd.launch">
      <arg name="camera"   value="k4a"/>
      <arg name="tf_prefix" value="k4a_"/>
      <arg name="overwrite_robot_description" value="false"/>
      <arg name="depth_enabled" value="true"/>
      <!-- <arg name="depth_mode" value="WFOV_2X2BINNED"/> -->
      <arg name="depth_mode" value="WFOV_2X2BINNED"/>
      <arg name="depth_unit" value="16UC1"/>
      <arg name="color_enabled" value="true"/>
      <arg name="color_resolution" value="1080P"/>
      <arg name="point_cloud" value="true"/>
      <arg name="rgb_point_cloud" value="false"/>
      <arg name="point_cloud_in_depth_frame" value="true"/>
      <arg name="fps" value="15"/>
      <arg name="required" value="true"/>
    </include>

    <include file="$(find easy_handeye)/launch/publish.launch">
      <arg name="eye_on_hand"       value="true"/>
      <arg name="namespace_prefix"  value="k4a"/>
      <arg name="calibration_file"  value="$(find teleop)/etc/k4a_eye_on_hand.yaml"/>
    </include>
    <!--
    <node pkg="tf" type="static_transform_publisher" name="azure_kinect_to_robot" args="-0.8653946407432093 0.21997148853242077 0.5409055118302718 0.6965481087582821, 0.0674835895267612, -0.36008357433319244, 0.616933168546343 base k4a_camera_base 100"/>
    -->

    <node pkg="tf2_transforms_pkg" name="transformed_points2" type="transform_points2">
      <remap from="points2" to="/points2"/>
      <remap from="points2_transformed" to="/points2_transformed"/>
    </node>

    <node pkg="tf2_transforms_pkg" name="optical_frame_to_base" type="tf_to_tcp">
      <param name="frame" type="string" value="k4a_depth_camera_link"/>
      <remap from="~transformed_frame" to="/k4a_depth_camera_link"/>
    </node>
  </group> <!-- use_kinect_camera -->

  <group unless="$(arg use_kinect_camera)">
    <!-- todo: change resolution -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="camera" value="realsense"/>
      <arg name="device_type" value="d405"/>
      <arg name="enable_color" value="true"/>
      <arg name="color_width" value="848"/>
      <arg name="color_height" value="480"/>
      <arg name="color_fps"    value="15"/>
      <arg name="enable_depth" value="true"/>
      <arg name="depth_width" value="848"/>
      <arg name="depth_height" value="480"/>
      <arg name="depth_fps"    value="15"/>
      <arg name="enable_confidence" value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="allow_no_texture_points" value="true"/>
      <arg name="ordered_pc"  value="true"/>
      <arg name="enable_sync"  value="true"/>
      <arg name="align_depth"  value="true"/>
      <arg name="filters"  value="temporal"/>
      <arg name="initial_reset" value="true"/>
      <!-- <arg name="json_file_path" value="$(find teleop)/etc/d405_medium_density.json"/> -->
    </include>

    <!-- d405 camera slope outwards from tcp -->
    <include file="$(find easy_handeye)/launch/publish.launch">
      <arg name="eye_on_hand"              value="true"/>
      <arg name="namespace_prefix"  value="d405_eye_on_hand"/>
      <arg name="calibration_file" value="$(find teleop)/etc/d405_eye_on_hand.yaml"/>
    </include>

    <node pkg="tf2_transforms_pkg" name="transformed_points2" type="transform_points2">
      <remap from="points2" to="/realsense/depth/color/points"/>
      <remap from="points2_transformed" to="/points2_transformed"/>
    </node>

    <node pkg="tf2_transforms_pkg" name="optical_frame_to_base" type="tf_to_tcp">
      <param name="frame" type="string" value="realsense_color_optical_frame"/>
      <remap from="~transformed_frame" to="/realsense_color_optical_frame"/>
    </node>
  </group> <!-- not use_kinect_camera -->

  <!-- Robotiq 2F-85 gripper -->
  <include file="$(find robotiq_control)/launch/urcap_cmodel_action_controller.launch">
    <arg name="address" value="192.168.1.179"/>
    <arg name="namespace" value="gripper"/>
  </include>

  <node pkg="tf2_transforms_pkg" name="tcp_to_base" type="tf_to_tcp">
    <param name="frame" type="string" value="tool0_controller"/>
    <remap from="~transformed_frame" to="/tcp_pose"/>
  </node>

</launch>
