<?xml version="1.0"?>
<launch>
  <arg name="use_kinect_camera"      default="false"/>
  <arg name="server_mode" default="false"/>
  <arg     if="$(arg server_mode)" name="program" value="env_server.py"/>
  <arg unless="$(arg server_mode)" name="program" value="vive_teleop.py"/>

  <group if="$(arg use_kinect_camera)">
    <node pkg="teleop" type="$(arg program)" name="teleop" output="screen">
      <remap from="image" to="/rgb_to_depth/image_raw"/>
      <remap from="image_raw" to="/rgb/image_rect_color"/>
      <remap from="depth" to="/depth/image_rect_raw"/>
      <remap from="point_cloud" to="/points2_transformed" if="$(arg server_mode)"/>
      <remap from="point_cloud" to="/points2" unless="$(arg server_mode)"/>
      <remap from="optical_frame" to="/k4a_depth_camera_link"/>`
    </node>
  </group>

  <group unless="$(arg use_kinect_camera)">
    <node pkg="teleop" type="$(arg program)" name="teleop" output="screen">
      <remap from="image" to="/realsense/color/image_raw"/>
      <remap from="image_raw" to="/realsense/color/image_raw"/>
      <remap from="depth" to="/realsense/aligned_depth_to_color/image_raw"/>
      <remap from="point_cloud" to="/points2_transformed" if="$(arg server_mode)"/>
      <remap from="point_cloud" to="/realsense/depth/color/points" unless="$(arg server_mode)"/>
      <remap from="optical_frame" to="/realsense_color_optical_frame"/>
    </node>
  </group>

</launch>
